# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Other
coverage
.env
.env.local
